// Variables.

// size-steps:
$sm-media: 576px;
$md-media: 768px;
$lg-media: 992px;
$xl-media: 1200px;

// glass effect.
$glass-blur: 10px;
$glass-background-opacity: 0.4;
$glass-border-opacity: 0.3;

// rounding:
$layer-spacing: 10px;
$layer-0-rounding: 25px;
$layer-1-rounding: 20px;
$layer-2-rounding: 15px;
$control-rounding: 10px;

// color-palette:
$primary-color: #114ac5;
$secondary-color: #dddddd;
$info-color: #97cc04;
$warning-color: #fe5f00;
$danger-color: #ef233c;
$dark-color: #00120b;
$highlight-color: #3ff5ff;
