// Variables.

// size-steps:
$sm-media: 576px;
$md-media: 768px;
$lg-media: 992px;
$xl-media: 1200px;

// glass effect.
$glass-blur: 5px;

// rounding:
$layer-spacing: 10px;
$layer-0-rounding: 25px;
$layer-1-rounding: 20px;
$layer-2-rounding: 15px;
$control-rounding: 10px;

// color-palette:
$primary-color: #114AC5;
$secondary-color: #DDDDDD;
$info-color: #97CC04;
$warning-color: #FE5F00;
$danger-color: #EF233C;
$dark-color: #00120B;
$highlight-color: #3FF5FF;