html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #ffffff;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
  background-image: url(../img/wallpapersden.com_abstract-wave-grey-duotone_2560x1435.jpg);
  background-position: center;
  background-size: cover;
}

container {
  display: grid;
  position: relative;
  margin: 20px auto 20px auto;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  grid-template-columns: 1fr;
  gap: 25px 0px;
}
container content {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: block;
  position: relative;
  border-radius: 25px;
  padding: 20px;
}
container content:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}
@media (min-width: 768px) {
  container {
    width: 650px;
  }
}
@media (min-width: 992px) {
  container {
    width: 900px;
    min-height: calc(100% - 40px);
  }
}
@media (min-width: 1200px) {
  container {
    width: 1100px;
  }
}

.btn {
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: left;
}
.btn.btn-primary {
  background-color: rgb(29.4626168224, 94.7196261682, 235.5373831776);
  border: 1px solid #114ac5;
}
.btn.btn-primary:hover {
  background-color: rgb(52.9369158879, 111.4018691589, 237.5630841121);
  border-color: rgb(19.0257009346, 82.8177570093, 220.4742990654);
}
.btn.btn-primary:active, .btn.btn-primary:active:focus {
  background-color: rgb(38.8523364486, 101.3925233645, 236.3476635514);
}
.btn.btn-secondary {
  background-color: rgba(221, 221, 221, 0.3);
  border: 1px solid #dddddd;
}
.btn.btn-secondary:hover {
  background-color: rgba(221, 221, 221, 0.4);
  border-color: #dddddd;
}
.btn.btn-secondary:active, .btn.btn-secondary:active:focus {
  background-color: rgba(221, 221, 221, 0.6);
}
.btn.btn-danger {
  background-color: rgb(242.4576271186, 82.5423728814, 102.1398305085);
  border: 1px solid #ef233c;
}
.btn.btn-danger:hover {
  background-color: rgb(244.186440678, 106.313559322, 123.2097457627);
  border-color: rgb(240.7288135593, 58.7711864407, 81.0699152542);
}
.btn.btn-danger:active, .btn.btn-danger:active:focus {
  background-color: rgb(243.1491525424, 92.0508474576, 110.5677966102);
}
.btn clr-icon {
  margin-bottom: 4px;
  margin-right: 5px;
}

h1 {
  font-size: 2em;
}
@media (min-width: 992px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 1.5em;
}
@media (min-width: 992px) {
  h2 {
    font-size: 1.7em;
  }
}

h3 {
  font-size: 1.2em;
}
@media (min-width: 992px) {
  h3 {
    font-size: 1.4em;
  }
}

p {
  font-size: 1em;
}
@media (min-width: 992px) {
  p {
    font-size: 1.1em;
  }
}

.center-content {
  display: flex;
  justify-content: center;
}

.even-spacing {
  margin-bottom: 10px;
}
.even-spacing:last-of-type {
  margin-bottom: 0px;
}

.auto-column-right {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0px;
}/*# sourceMappingURL=site.css.map */